.footer{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: max-content;
    
}
.footer h5{
    padding-bottom: 10px;
    font-weight: bold;
    color:rgb(252, 27, 65);
}
.footer p{
    color: blue;
}
.footer p:hover{
    color: black;
    font-weight: bold;
}